.highlightItem {
    height: 80px;
    width: 80px;
    text-align: center;
}

.cover {
    height: 50px !important;
    width: 50px !important;
    margin: 0 auto;
}

.title {
    font-size: 13px;
    margin: 5px;
    /*text-overflow: ellipsis;*/
    overflow: hidden;
}